/* css영역 (스타일정보 바로 기입) 스타일태그로 감싸져있다고 생각하면 됨 */
h2{color: red;}

/* 1. 속성 선택자--------------------------------------- */

/* = -> div 요소들 중 name속성값이 name1과 정확히 "일치"하는 요소 */
div[name = name1] {
    background-color: orangered;
}


/* ~= -> div요소들 중 name속성값이 name1이 "포함"되어있는 요소 (키워드는 안됨, 공백으로 단어로서 구분) */
/* name1, name2는 돼도 na, me 이런건 안됨 */
div[name ~= name1] {
    background-color: yellow;
}


/* |= -> div요소들 중 class 속성값이 class로 "시작"되는 요소(-로 단어로서 구분) */
div[class |= class] {
    background-color: cyan;
}


/* ^= -> div요소들 중 name 속성값이 na로 "시작"되는 요소 */
div[name ^= na] {
    background-color: blue;
}


/* $= ->div요소들중에서 class속성값이  ss로 "끝나는" 요소 */
div[class $= ss] {
    color: white;
}


/* *= -> div 요소들 중에서 class속성값에 i가 "포함"되어있는 요소 */
div[class *= i] {
    background-color: yellow;
    color: red;
}



/* 응용 : class속성값이 div-class인 요소들 중 name속성값에 name3이 반드시 포함되어 있는 요소 -> bgc : pink */
.div-class[name~=name3] {
    background-color: pink;
}

/* 2. 자손선택자와 후손선택자 ------------------------ */
/* a>b : a요소의 자손들중에서 b요소만을 선택 */
/* #test1>*{background-color: pink;} */

/* 아이디가 test1인 요소의 자손들 중 h4요소만 선택 */
#test1>h4 {
    background-color: orangered;
}

/* #test1>li {
    background-color: brown;
} */

#test1>ul>li{
    background-color: cyan;
}

/* a b : a 요소의 후손(모든 하위요소)중에서 b요소만 선택 */
#test1 li{
    color: red;
}






/* 3.동위선택자-------------------------- */
#test2+div{
    background-color: yellow;
}



#test2+ul{
    background-color: pink;
}
/* 제대로 선택이 안됨, ul이 test2 바로뒤에 있는 요소가 아니기 때문 */



/* #test2~div{
    background-color: green;
} */


#test2~ul{
    background-color: pink;
}



/* 4.반응선택자------------------------------------------------ */
.area {
    background-color: yellowgreen;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

#active-test:active{
    background-color: yellow;
    color: red;
}
/* active:클릭하고 있는동안 바뀌게 함*/

#hover-test:hover{
    background-color: maroon;
    color: white;
}
/* hover : 마우스 올려놓는동안 바뀌게 함 */


/* 5. 상태선택자------------------------------------------------------ */
input[type=checkbox]:checked{
    width: 20px;
    height: 20px;
}


input[type=checkbox]:checked+label{
    font-size: 20px;
}

input[name^=user]:focus{
    background-color: pink;
}



button:enabled{
    background-color: violet;
}

button:disabled{
    background-color: yellowgreen;
}






